.support-page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  flex: 1; 
}

.support-welcome {
  font-family: "Readex Pro", sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;

}

.support-content-box {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  background-color: rgba(32, 32, 32, 0.5); 
  border-radius: 20px;
  overflow: hidden; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.support-left {
  flex: 1; 
  padding: 40px;
  color: white;
  font-family: "Readex Pro", sans-serif;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.support-right {
  flex: 1; 
  display: flex;
  position: relative;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.support-right img {
  width: 85%;
  height: 85%;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .support-content-box {
    flex-direction: column-reverse; 
  }

  .support-welcome {
    font-size: 2rem; 
  }

  .support-left {
    padding: 20px;
    font-size: 1rem;
  }

  .support-right {
    height: 200px; 
    width: 100%;
    flex: none;
  }
}