.submit-page-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.welcome-message {
  font-family: "Readex Pro", sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 0rem; 
}
