.home-page-wrapper {
  height: 60vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-message {
  font-family: "Readex Pro", sans-serif;
  font-size: 3rem;
  color: white;
  margin-bottom: 0rem; 
}

.video-section {
  margin-top: 2rem;
  font-family: "Readex Pro", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.video-container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.video-container h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;
   font-family: "Readex Pro", sans-serif;
}

.video-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}