.app-header {
  position: absolute; 
  z-index: 10; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #202020;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  border-radius: 50px; 
  

  width: fit-content; 
  max-width: 95vw; 
}


.app-header nav {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 5px; 
}

.app-header nav a {
  color: white;
  text-decoration: none;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  
  margin: 0 5px; 
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333; 
  padding: 10px 20px;
  border-radius: 25px; 
  
  white-space: nowrap; 
}

.app-header nav a:hover {
  background-color: #db9937;
  color: white;
}


@media (max-width: 768px) {
  
  .app-header {
    padding: 0.5rem; 
    width: 90%; 
    border-radius: 20px; 
  }

  .app-header nav a {
    font-size: 0.9rem; 
    padding: 8px 12px;
    margin: 2px; 
    flex: 1 1 auto; 
    text-align: center;
  }
}

@media (max-width: 400px) {
  .app-header nav a {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}