.app-header {
  position: absolute; 
  z-index: 10; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #202020;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  border-radius: 30px; 
  width: fit-content; 
}

.app-header nav a {
  color: white;
  text-decoration: none;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;

  margin: 0 10px; 
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333; 
  padding: 10px 20px;
  border-radius: 25px; 
}

.app-header nav a:hover {
  background-color: #db9937;
  color: white;
}
