.submit-welcome {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    font-family: "Readex Pro", sans-serif;
    z-index: 1;
  }


  .submit-left{ 
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    font-family: "Readex Pro", sans-serif;
    font-size: 140%;
  }

  .submit-left input[type="text"],
  .submit-left input[type="url"],
  .submit-left textarea {
    border: 1px solid #6e6e6e;
    padding: 8px;
    border-radius: 30px;
    background-color: #333; 
    color: white; 
    width: 100%; 
    box-sizing: border-box; 
  }

  .video-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
}

  .form-body,
  .form-group {
    margin-bottom: 15px; 
  }

  .form-body label,
  .form-group label {
    display: block; 
    margin-bottom: 5px; 
  }

  .submit-left form button {
    background-color: #c6812d; 
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(40, 40, 40); 
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }

  .submit-left form button:hover {
    background-color: #f08401; 
    border: 10px solid rrgb(255, 255, 255) 
  }