.submit-welcome {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    font-family: "Readex Pro", sans-serif;
  }


  .submit-body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    font-family: "Readex Pro", sans-serif;
    font-size: 100%;
  }
  