.pageBG{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content-wrap {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  padding-top: 120px; 
}

.animBG{
  position: fixed; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  z-index: -1;
  top: 0;
  left: 0;
}


.welcome-message {
  color: white;
  z-index: 1;
  font-size: 40px;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin-bottom: 2rem;
}

.spinningLogo {
  position: fixed; 
  top: 20px;
  left: 20px;
  z-index: 150; 
  width: 60px;
  height: 60px;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .content-wrap {
    padding-top: 100px;
  }
  
  .welcome-message {
    font-size: 32px;
  }
}