.pageBG{
position: relative;
width: 100vw;
height: 100vh;
display: flex;
}


.animBG{
position: absolute;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(36, 36, 36);
z-index: -1;
}
.welcome-message {
  color: white;
  z-index: 1;
  font-size:40px;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.spinningLogo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 60px;
  height: 60px;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
